/* CSS Document 蓝背景色aac8c8|323d39*/
body{
    font-family:Arial, Helvetica, sans-serif;
	margin:0px;
	background-color:#e3e3e3;
	font-size:9pt;
	SCROLLBAR-FACE-COLOR: #ffffff;
	SCROLLBAR-HIGHLIGHT-COLOR: #e8e8e8;
	SCROLLBAR-SHADOW-COLOR: #e8e8e8;
	SCROLLBAR-3DLIGHT-COLOR: #ffffff;
	SCROLLBAR-ARROW-COLOR: #989898;
	SCROLLBAR-DARKSHADOW-COLOR: #e8e8e8;
	SCROLLBAR-BASE-COLOR: #ffffff;
}
.STYLE2 {color: #999999}
td{font-size:9pt;}
A:link {
	 COLOR: #000000;TEXT-DECORATION: none
}
A:visited {
	 COLOR: #000000;TEXT-DECORATION: none
}
A:active {
	 COLOR: #000000;TEXT-DECORATION: none
}
A:hover {
	 COLOR: #5E90C3;TEXT-DECORATION: none
}
#MenuBottom1Area A:link {
	 COLOR: #ffffff;TEXT-DECORATION: none
}
#MenuBottom1Area A:visited {
	 COLOR: #ffffff;TEXT-DECORATION: none
}
#MenuBottom1Area A:active {
	 COLOR: #ffffff;TEXT-DECORATION: none
}
#MenuBottom1Area A:hover {
	 COLOR: #000000;TEXT-DECORATION: none
}

.lefttitle,.middletitle{height:33px;font-weight:bold;color:#3c5c81;line-height:30px;text-transform:capitalize;}
.lefttitle{width:80px;padding-left:10px;}
.middletitle{width:105px;background-image:url(../img/titlebuttom.jpg);float:left;}
.pagebox{clear:both;background-color:#EEF8FE;margin:2px;padding:2px;width:100%;}

.leftcontent,.rightcontent{padding:3px;background-color:#fff;width:94%;margin:0px auto;border:1px solid #d8e2eb;}
.rightcontent{background-color:#edf4fa;padding:2px;}
.leftbox,.rightbox,.bottombox{border:1px solid #d2e5f4;}
.productlist{background-color:#fff;margin:1px;height:20px;padding-top:4px;padding-left:2px;/*text-transform:capitalize;单词第一个大写*/}
.downlist{background-color:#fff;margin:1px;height:40px;padding-left:2px;}
.border1{border:1px solid #9abed9;}

.buttonselected,.buttondefault{width:114px;height:30px;cursor:hand;float:left;text-transform:capitalize;color:#FFFFFF;font-weight:bold;line-height:30px;}
.buttonselected{background-image:url(../img/menuselected.jpg);}
.buttondefault{background-image:url(../img/menudefault.jpg);}

.bestselected,.bestdefault{width:78px;height:25px;cursor:hand;float:left;text-transform:capitalize;color:#FFFFFF;font-weight:bold;line-height:25px;margin:0px 1px;}
.bestselected{background-image:url(../img/button1.jpg);}
.bestdefault{background-image:url(../img/button2.jpg);}

.menutext{margin:0px auto;width:72px;letter-spacing:1px;}
#MenuBottom1Area,#MenuBottom2Area,#MenuBottom3Area,#MenuBottom4Area,#MenuBottom5Area{color:#FFFFFF;letter-spacing:1px;}
.bodypadding{padding:5px;}
input,textarea{
	color: #888888;
	border: 1px solid #59a736;
	background-color:#f8fdf5;
}
.redfont{color:red;}
.formtitle{color:#59a736;font-weight:bold;}
.webpicbox{margin:0px auto;width:173px;padding:2px;height:165px;}
.webareabox{width:139px;padding:1px;float:left;border:1px solid #d2e5f4;margin:3px 16px;height:190px;}
.coolwebtitle{clear:both;background-color:#d6effd;text-align:left;margin:0px auto;line-height:20px;border:2px solid #f0f0f0;width:139px;height:40px;}

.bigclassbox{width:159px;padding:1px;float:left;margin:3px 9px;height:45px;background-image:url(../img/bigclassbutton.jpg);}
.bigclasstitle{clear:both;text-align:left;margin:0px auto;line-height:20px;width:155px;height:42px;line-height:40px;}
.webpic{border:2px solid #f0f0f0;padding:2px;margin:2px;}

.top,.center,.bottom{background-color:#fff;width:960px;margin:0px auto;}
.top{height:103px;border-top:2px solid #fc0001;}
.bottom{border-bottom:5px solid #A40106;}
.bestpicturebox{border:1px solid #F7EFF7;padding:6px 8px; float:left;}
.bestpicture{border:3px solid #F7EFF7;}

.bestpicturebox1{border:1px solid #F7EFF7;padding:2px 7px;float:left;}
.bestpicture1{}

.logo{height:65px;width:200px;float:left;margin:2px;}
.topmenu{float:right;margin:2px 5px;color:#333333;}
.menubg{width:956px;height:28px;margin:5px auto;background-image:url(../picture/menubg.jpg);line-height:28px;clear:both;}
.menu{width:500px;margin:0px auto;line-height:28px;clear:both;color:#FFFFFF;}
.left{float:left;margin:2px 0px 2px 2px;}
.middle{float:left;margin:2px;width:536px;}
/*border:1px solid #00CCCC;*/
.readarticlemiddle{float:left;margin:2px;width:736px;border:2px solid #A9C9E2;background-color:#F5FAFE;padding:2px;}
/*border:1px solid #F3FAFF;*/
.readarticletitle{background-color:#daecfb;border:1px dashed #A9C9E2;margin:3px;line-height:25px;}
.readarticledescription{background-color:#ffffff;margin:3px;line-height:20px;border:1px dashed #f2f2f2;}
.readarticlecontent{margin:3px;TABLE-LAYOUT:fixed;WORD-WRAP:break-word;}
.iframereply{width:500px;height:200px;}
.readarticlereply{margin:2px 100px;display:none;}
.right{float:left;margin:2px 2px 2px 0px;}
.searchkeyword{clear:right;line-height:30px;margin:0px 0px 0px 0px;}

ul{margin:0px 0px 0px 3px;padding:0px;line-height:23px;}
li{list-style-type:none;padding:0px;clear:both;}
.titlesmallclasscolor{color:#FF6600;margin:0px;padding:0px;}
.news{width:190px;background-color:#ffffff;margin:2px;line-height:20px;padding:4px;height:188px;}
.newstitle{color:#FF6600;margin:0px;padding:0px;background-color:#f2f2f2;width:190px;}

.banner{background-color:#79e6f2;width:533px;height:198px;clear:both;padding:3px 0px 0px 3px;}
.logobox2{background-color:#e70012;width:536px;clear:both;margin:2px 0px;}
.redtitlebg{heigth:23px;width:100%;clear:both;}
.redcontentbg{width:100%;background-color:#a40106;clear:both;height:134px;padding:7px 0px 0px 0px;}

.middlebox,.middlebox3,.middlebox1{background-color:#fff;float:left;margin:1px 1px 0px 1px;border:2px solid #e6f9fd;padding:2px;}
.middlebox{width:523px;}
.middlebox1{width:735px;}
.middlebox3{width:257px;}

.middleboxtitle3{width:100%;height:21px;background-image:url(../picture/titleyellow.jpg);clear:both;}
.boxtitle{line-height:21px;text-indent:5px;color:#710002;float:left;clear:both;}
.boxtitlemore{line-height:22px;text-indent:5px;color:#333c3b;float:right;cursor:hand;}
.titlebox{background-color:#fefefe;border:1px solid #f0f0f0;margin:4px 0px;}
.titlepic{border:2px solid #f0f0f0;padding:2px;margin:1px;}
.titlecolor1{color:#000;font-weight:bold;}
.summarizecolor1{color:#999999;text-indent:25px;}

.rightbox3{background-color:#f5f5f5;width:207px;clear:both;border:1px solid #e6e6e6;margin:2px 0px;}
.lefttitlebox{height:23px;line-height:23px;text-indent:5px;margin:2px;}
.titlecolor2{color:#3580d3;}
.titlecolor3{color:#bcbcbc;}
.titlecolor4{color:#fff;float:left;}
.loginbox{background-color:#fff;margin:2px;border:1px solid #e6e6e6;}
.bg1{background-color:#e70012;}
.bg2{background-image:url(../picture/titleargent.jpg);}
.magazinebox{width:207px;clear:both;border:1px solid #e6e6e6;margin:2px 0px;}
.magazineborder{background-color:#fff;clear:both;border:3px solid #f0f0f0;padding:2px 0px;}
.float_left{float:left;width:220px;background-color:#f9f9f9;margin:1px;}
.float_left2{float:left;width:440px;background-color:#f9f9f9;margin:1px;height:25px;line-height:25px;}
.float_left3{float:left;width:400px;background-color:#f9f9f9;margin:1px;height:25px;line-height:25px;}
.float_tag{float:left;width:230px;background-color:#f9f9f9;margin:1px;}
.ShowDownTopTitle{float:left;width:160px;}
.magazinepicbox{margin:0px auto;width:120px;padding:2px;height:166px;}
.linkbox{background-color:#f7f7f7;border:1px solid #e2e2e2;margin:5px;padding:5px;line-height:23px;clear:both;}
.copyright{margin:5px;padding:5px;line-height:23px;text-align:center;}

/*

.leftbox2{background-color:#e70012;width:203px;height:100px;clear:both;margin:2px 0px;}





/*ededed*/
/*
.middleboxtitle2{width:100%;height:21px;background-image:url(../picture/titlered.jpg);}








.redtitlebg{heigth:23px;width:100%;clear:both;}

.redleftcontentbg{background-color:#fff;clear:both;padding:7px 0px 0px 0px;border:3px solid #a40106;}
.webborder{background-color:#fff;clear:both;height:378px;border:3px solid #a40106;}

input{}









.magazinetitle{width:164px;background-color:#f2f2f2;margin:0px auto;height:20px;clear:both;line-height:20px;}



.newstitle{color:#FF6600;margin:0px;padding:0px;background-color:#f2f2f2;width:190px;}

#galleryh {
  padding:0px;
  margin:2px;
  list-style-type:none;
  overflow:hidden;
  width:530px;
  height:195px;
  border:1px solid #888;
 /*background:#00CCCC;*/
 /*
  background:#fff url(../picture/test111.jpg);
  }
#galleryh li {
  float:left;
  }
#galleryh li a {
  display:block;
  height:195px;
  width:25px;
  float:left;
  text-decoration:none;
  border-right:1px solid #fff;
  cursor:default;
  }
#galleryh li a .smallimg {
  width:25px;
  height:195px;
  border:0px;
  float:left;
  }
#galleryh .one a:hover{
 background:url(../picture/test222.jpg);
 display:block;
 width:425px;
  }
#galleryh .two a:hover{
 background:url(../picture/test333.jpg);
 display:block;
 width:425px;
  }
#galleryh .three a:hover{
 background:url(../picture/test222.jpg);
 display:block;
 width:425px;
  }
#galleryh .four a:hover{
 background:url(../picture/test333.jpg);
 display:block;
 width:425px;
 }
#galleryh .five a:hover{
 background:url(../picture/test222.jpg);
 display:block;
 width:425px;
 }
*/